<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">
        <%= t "slogan" %>
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">
          <%= t('sub_slogan') %>
        </h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button"
          class="btn-large waves-effect waves-light teal lighten-1">
          <%= t "get_started" %>
        </a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax">
    <img src="http://noticeapp.co/ca/img/background1.jpg">
  </div>
</div>

<div>
  <div class="section">
    <div class="row">
      <h3 class="center">
        <%= link_to t(".discover_our_tour"), tours_path,
          class: "brown-text" %>
      </h3>
    </div>
    <div class="row">
      <% if @tours.any? %>
        <ul class="bxslider">
          <% @tours.each do |tour| %>
            <li>
              <div class="col s12">
                <div class="card medium sticky-action">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                      src="http://noticeapp.co/ca/img/background3.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                      <%= tour.name %>
                      <i class="material-icons right">more_vert</i>
                    </span>
                  </div>
                  <div class="card-action">
                    <%= link_to t("buttons.read_more"), tour,
                      class: "waves-effect waves-green btn red right" %>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">
                        <%= tour.name %>
                        <i class="material-icons right">close</i>
                      </span>
                    <p><%= raw tour.content %></p>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">
          <%= t "we_provide_the_best" %>
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="http://urinx.github.io/v5/img/background3.jpg" >
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h3 class="center brown-text">
            <%= t "quality" %>
          </h3>
          <h5 class="center"><%= t "quality_sub" %></h5>
          <p class="light"><%= t "quality_p" %></p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h3 class="center brown-text">
            <%= t "service" %>
          </h3>
          <h5 class="center"><%= t "service_sub" %></h5>
          <p class="light"><%= t "service_p" %></p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h3 class="center brown-text">
            <%= t "price" %>
          </h3>
          <h5 class="center"><%= t "price_sub" %></h5>
          <p class="light"><%= t "price_p" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">
          <%= t "we_provide_the_best" %>
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="http://urinx.github.io/v5/img/background2.jpg" >
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4><%= t "contact_us" %></h4>
        <p class="left-align light">
          <%= t "contact_us_p" %>
        </p>
      </div>
    </div>

  </div>
</div>
