<div class="card-content">
  <h4 class="brown-text"><strong>BOOKING NOW!</strong></h4>
  <%= form_for booking do |f| %>
    <div class="input-field">
      <%= f.label :email, t(".email") %>
      <%= f.email_field :email,
        value: current_user.nil? ? "" : current_user.email %>
    </div>

    <div class="input-field">
      <%= f.label :phone, t(".phone") %>
      <%= f.text_field :phone,
        value: current_user.nil? ? "" : current_user.phone %>
    </div>

    <div class="input-field">
      <%= f.label :person_num, t(".person_num") %>
      <%= f.text_field :person_num %>
    </div>

    <%= f.collection_select :tour_option_id,
      tour.tour_options, :id, :start_date %>

    <%= f.submit t("buttons.book"), class: "btn blue btn-search" %>
  <% end %>
</div>

