<div class="row">
  <%= link_to t(".create_review"), new_tour_review_path(@tour),
    class: "btn right" %>
</div>

<div class="row">
  <ul class="collapsible" data-collapsible="expandable">
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
        <li>
          <div class="collapsible-header">
            <h5><%= review.name %></h5>
            <h6><%= review.user.name %></h6>
          </div>
          <div class="collapsible-body">
            <%= link_to t("buttons.read_more"), tour_review_path(@tour, review),
              class: "btn right" %>
            <%= raw review.content %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
