<%= form_for [@tour, @review] do |f| %>
  <div class="input-field">
    <%= f.label t "reviews.new.review_name"  %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <%= t ".rate_tour" %>
  <%= rating_for @tour, "quality", star: 5, disable_after_rate: false %>
  <div>
    <%= f.label :content %>
    <%= f.cktext_area :content, ckeditor: {language: "us"} %>
  </div><br>
  <%= f.submit yield(:button_text),
    class: "btn waves-effect waves-light right" %>
<% end %>
