<div class="col s12">
  <% if current_user == @review.user %>
    <section class="right">
      <%= link_to(edit_tour_review_path(@tour, @review),
        class: "btn-floating btn-large waves-effect green") do %>
        <i class="material-icons">edit</i>
      <% end %>
      <button data-target="modal1" class="btn-floating btn-large red">
        <i class="material-icons">delete</i>
      </button>
    </section>
  <% end %>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4><%= t ".confirm_delete_review" %></h4>
      <p><%= t ".confirm_delete_review_content" %></p>
    </div>
    <div class="modal-footer">
      <%= link_to t("buttons.cancel"), tour_review_path(@tour, @review),
        class: "modal-action modal-close waves-effect waves-green btn-flat" %>
      <%= link_to t(".confirm_button"), tour_review_path(@tour, @review),
        method: :delete,
        class: "modal-action modal-close waves-effect waves-green btn-flat" %>
    </div>
  </div>
  <h3><Strong><%= @review.name %></Strong></h3>
  <h5>
    <%= link_to t(".tour_name", tour_name: @tour.name), tour_path(@tour) %>
  </h5>
  <%= rating_for_user @tour, @review.user, "quality", {target: "#hint-div"} %>
  <div id="hint-div"></div>
  <h6 class="left"><%= @review.user.name %></h6>
  <h6 class="right"><%= @review.created_at %></h6>
</div><br><br>
<section class="col s12 divider"></section><br>
<div class="col s12">
  <%= raw @review.content %>
</div><br>
<section class="col s12 divider"></section><br>
<div class="col s12">
  <% if user_signed_in? %>
    <section id="like-button" class="right">
      <%= render "likes/like_form" %>
    </section>
    <section class="right">
      <button data-target="modal-comment" class="btn btn-large waves-effect red">
        <%= t "buttons.comment" %>
      </button>
    </section>
  <% end %>
  <section class="left">
    <h5>
      <strong class="comments-count">
        <%= pluralize @supports.comments.size, t("reviews.show.comments_count") %>
      </strong>
      <strong class="blue-text like-count">
        <%= pluralize @review.likes.size, t(".likes") %>
      </strong>
    </h5>
  </section>
  <div id="modal-comment" class="modal">
    <div class="new-comment">
      <%= render "comments/form" %>
    </div>
  </div>
</div><br>
<div class="comment-list">
  <% if @supports.comments.any? %>
    <%= render @supports.comments %>
  <% end %>
</div>
